includes:
    - default-config.neon
    - config/_from-r5_15.neon

parameters:
    level: 8
    paths:
      - lib/
      - pages/

    ignoreErrors:
      - '#.*getValueType\(\) expects class\-string, string given\.$#'
