parameters:
    level: 8
    paths:
      - lib/
      - pages/

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
      - '#.*getValueType\(\) expects class\-string, string given\.$#'
