includes:
    - ../vendor/tomasvotruba/unused-public/config/extension.neon

parameters:
    unused_public:
        methods: true
        properties: true
        constants: true
        static_properties: true
