services:
    -
        class: staabm\PHPStanDba\Ast\PreviousConnectingVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor

    # redaxos setQuery etc. APIs support both, prepared and unprepared statements..
    # therefore we need to register them twice, to also cover cases which don't pass parameters.
    -
        class: staabm\PHPStanDba\Rules\SyntaxErrorInPreparedStatementMethodRule
        tags: [phpstan.rules.rule]
        arguments:
            classMethods:
                - 'rex_sql::setQuery'
                - 'rex_sql::setDBQuery'
                - 'rex_sql::getArray'
                - 'rex_sql::getDBArray'

    -
        class: staabm\PHPStanDba\Rules\SyntaxErrorInQueryMethodRule
        tags: [phpstan.rules.rule]
        arguments:
            classMethods:
                - 'rex_sql::setQuery#0'
                - 'rex_sql::setDBQuery#0'
                - 'rex_sql::getArray#0'
                - 'rex_sql::getDBArray#0'
                - 'rex_sql::prepareQuery#0'
                - 'rex_sql::getQueryType#0'

    -
        class: rexstan\RexSqlFactoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: rexstan\RexSqlEscapeDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: rexstan\RexSqlSetQueryTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: rexstan\RexSqlSetQueryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: rexstan\RexSqlSetTableTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: rexstan\RexSqlSetTableDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: rexstan\RexSqlSelectTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: rexstan\RexSqlSelectDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: rexstan\RexSqlGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rexstan\RexSqlGetArrayDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: rexstan\RexGetRule
        tags:
            - phpstan.rules.rule
    -
        class: rexstan\RexGetValueRule
        tags:
            - phpstan.rules.rule
    -
        class: rexstan\RexSqlGetValueRule
        tags:
            - phpstan.rules.rule
    -
        class: rexstan\RexSqlSetValueRule
        tags:
            - phpstan.rules.rule
    -
        class: rexstan\RexSqlSetTableRule
        tags:
            - phpstan.rules.rule
    -
        class: rexstan\RexSqlInjectionRule
        tags:
            - phpstan.rules.rule

    -
        class: rexstan\RexMediaGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rexstan\RexArticleGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rexstan\RexCategoryGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rexstan\RexArticleSliceGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rexstan\RexUserGetValueDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
