.rexstan-error-file span {
    color: rgb(119, 119, 119);
}

@media (prefers-color-scheme: dark) {
    .rexstan-error-file span {
        color: rgba(255, 255, 255, 0.45);
    }
}


.rexstan-achievement {
    font-size: 50px;

    height : 100px;
    display : flex;
    align-items : center;
    justify-content : center;
}
