.rexstan-error-file span {
    color: rgb(119, 119, 119);
}

@media (prefers-color-scheme: dark) {
    .rexstan-error-file span {
        color: rgba(255, 255, 255, 0.45);
    }
}

.rexstan-achievement {
    font-size: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rexstan-message {
    padding-left: 6rem;
    text-indent:-5rem;
}

.rexstan-linenumber {
    display: inline-block;
    width: 5rem;
    padding-right: 0.5rem;
    text-align: right;
}

.rexstan .panel-heading:not(.collapsed) .rexstan-open {
    display: none;
}

.rexstan .panel-heading.collapsed .rexstan-closed {
    display: none;
}
