name: Static analysis

on:
  push:
    branches: [main]
  pull_request:

jobs:

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3']
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Setup PHP
        id: setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - run: composer require redaxo/source

      - run: composer phpstan
